# -----------
# Services (Third-party)
# -----------
abstruse.imlinus.com {
  reverse_proxy localhost:1200
}

code.imlinus.com {
  reverse_proxy localhost:1201
}

docs.imlinus.com {
  reverse_proxy localhost:1202
}

irc.imlinus.com {
  reverse_proxy localhost:1203
}

play.imlinus.com {
  reverse_proxy 85.24.178.218:8096
}

portainer.imlinus.com {
  reverse_proxy localhost:1204
}

# -------
# Webapps
# -------
authenticator.imlinus.com {
  reverse_proxy localhost:1300
}

cheatsheets.imlinus.com {
  reverse_proxy localhost:1301
}

dashboard.imlinus.com {
  reverse_proxy localhost:1302
}

fonts.imlinus.com {
  reverse_proxy localhost:1303
}

notes.imlinus.com {
  reverse_proxy localhost:1304
}

personal.imlinus.com {
  reverse_proxy localhost:1305
}

thrownote.imlinus.com {
  reverse_proxy localhost:1306
}

# -----
# Games
# -----
csgo.imlinus.com {
  reverse_proxy localhost:27015
}

minecraft.imlinus.com {
  reverse_proxy localhost:25565
}
