.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  background: #dae3ea;
  border-right: 1px solid #cad6e0;
  transition: width 0.2s ease-out;
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
}

.has-fixed-topbar .sidebar {
  top: var(--topbar-height);
  height: calc(100% - var(--topbar-height));
}

.sidebar.left {
  left: 0;
}

.sidebar.right {
  right: 0;
}
