/* Developed by Linus Lilja - Copyright 2011 */

*{margin: 0; padding: 0; }

body{
	background: url(../images/bg.jpg) center top #a26838 fixed;
	font-family:"Tahoma",Verdana,Helvetica,Arial,sans-serif;
	size: 11px;
	color: #1f1f1f;
}

a{
	text-decoration: none;
	color: #1f1f1f;
}

a:hover{
	text-decoration: underline;
	color: #1f1f1f;
}

a:visited{
	text-decoration: none;
	color: #1f1f1f;
}
	
#wrapper{
	margin: 0 auto;
	width: 960px;
}

#main{
	width: 940px;
	margin-top: 50px;
	margin-bottom: 40px;
	
	padding: 10px;
	
	background: #fff;
	
	-moz-box-shadow: 0 0 20px #000;
	-webkit-box-shadow: 0 0 20px #000;
	box-shadow: 0 0 20px #000;
}

#header{
	
}

#meny{
	margin: 0 auto;
}

#meny a{
	text-decoration: none;
	color: #1f1f1f;
}

#meny a:hover{
	text-decoration: underline;
	color: #1f1f1f;
}

#cont{
	
}

.contn{
	font-size: 12px;
	margin-top: 30px;
}

.contn a, a:visited{
	text-decoration: none;
	color: #1f1f1f;
}

.contn a:hover{
	text-decoration: underline;
	color: #1f1f1f;
}

.product{
	width: 159px;
	float: left;
	padding: 5px;
	padding-right: 24px;
	font-size: 12px;
}

.spec{
	width: 140px;
	float: left;
}

#footer{
	margin-top: 40px;
	font-size: 12px;
}

label.radio_checked {
	background: #fff url(../images/bullet_green.png) no-repeat;	
	display: block;
	margin: 10px 0;
	padding-left: 25px;
}
label.radio_unchecked  {
	background: #fff url(../images/bullet_white.png) no-repeat;	
	display: block;
	margin: 10px 0;
	padding-left: 25px;
}

label.radio_checked2{
	background: #fff url(../images/bullet_green.png) no-repeat;	
	display: block;
	margin: 10px 0;
	padding-left: 25px;
}
label.radio_unchecked2{
	background: #fff url(../images/bullet_white.png) no-repeat;	
	display: block;
	margin: 10px 0;
	padding-left: 25px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* STOP EDITTING - DO NOT CHANGE OR REMOVE        */
.crirHidden {
	position: absolute;
	left: -1000px;
}

.crirHidden2 {
	position: absolute;
	left: -1000px;
}

#forms input{
	padding: 4px;
	color: #191919;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}

#forms textarea{
	padding: 4px;
	color: #191919;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
	width: 450px;
	height: 110px;
}
	
#forms select{
	padding: 4px;
	color: #191919;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	border: 1px solid #cecece;
}


