.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .tag {
    margin: 0 calc(var(--gap) / 2) var(--gap) 0;
  }
}

.tag {
  display: inline-block;
  padding: 0.125rem 0.375rem;
  font-size: 85%;
  font-weight: 500;
  border-radius: 0.25rem;
  color: var(--dark);
  background: var(--default);

  &.is-primary {
    color: var(--white);
    background: var(--primary);
  }

  &.is-secondary {
    color: var(--white);
    background: var(--secondary);
  }

  &.is-info {
    color: var(--white);
    background: var(--info);
  }

  &.is-success {
    color: var(--white);
    background: var(--success);
  }
  &.is-warning {
    color: var(--white);
    background: var(--warning);
  }

  &.is-danger {
    color: var(--white);
    background: var(--danger);
  }

  &.is-black {
    color: var(--white);
    background: var(--black);
  }

  &.is-white {
    background: var(--white);
  }
}
