
BODY {
scrollbar-face-color:#AEAEAF;
scrollbar-highlight-color:#878687;
scrollbar-3dlight-color:#C8C8C8;
scrollbar-darkshadow-color:#000000;
scrollbar-shadow-color:#000000;
scrollbar-arrow-color:#000000;
scrollbar-track-color:#E5E4E5;
}



td {
	font-family:				 	Tahoma;
	font-size:						11px;
	color:							#3F2B07;
}

strong {							color:#C28225;}
a {									color:#99270C;}
a:hover {							color:#330000;}






.psTipOnLeft {
	background-image: 				url('flash/vanster.bmp');
	background-repeat :				no-repeat;
	background-position : 			right top;
	
}

.psTipOnRight {
	background-image: 				url('flash/hoger.bmp');
	background-repeat : 			no-repeat;
	background-position :  			left top;
}


