# -----------
# Third-party
# -----------

ci.imlinus.com {
  reverse_proxy localhost:1200
}

code.imlinus.com {
  reverse_proxy localhost:1201
}

docs.imlinus.com {
  reverse_proxy localhost:1202
}

portainer.imlinus.com {
  reverse_proxy localhost:1203
}


# -------
# Webapps
# -------

2fa.imlinus.com {
  reverse_proxy localhost:1300
}

css.imlinus.com {
  reverse_proxy localhost:1302
}

dashboard.imlinus.com {
  reverse_proxy localhost:1303
}

fonts.imlinus.com {
  reverse_proxy localhost:1304
}

imlinus.com {
  reverse_proxy localhost:1305
}

thrownote.imlinus.com {
  reverse_proxy localhost:1306
}
