a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: var(--link-hover-color) !important;
    text-decoration: underline;
  }

  &:visited {
    color: var(--link-color);
    text-decoration: none;
  }
}
