.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.75rem;
}

.row:last-child {
  margin-bottom: 0;
}

.row .col {
  flex-grow: 1;
  flex-basis: 0;
}

.row > .col:not(:first-of-type) {
  margin-left: 4%;
}
