/* Colors */
:root {
  --default: #dbdbdb;
  --default-accent: #363636;

  --primary: #0fb9b1;
  --primary-accent: #2bcbba;

  --secondary: #8854d0;
  --secondary-accent: #a55eea;

  --info: #2d98da;
  --info-accent: #45aaf2;

  --link: #3867d6;
  --link-accent: #4b7bec;

  --success: #20bf6b;
  --success-accent: #26de81;

  --warning: #f7b731;
  --warning-accent: #fed330;

  --danger: #eb3b5a;
  --danger-accent: #fc5c65;

  --light: #f5f6fa;
  --light-accent: #dcdde1;

  --dark: #2c2c54;
  --dark-accent: #40407a;
}

/* Typography */
:root {
  --font-size: 100%;
  --line-height: 1.5;
  --base-size: 1rem;
  --gap: 1.5rem;
}

@media (min-width: 1600px) {
  :root { 
    --font-size: 125%;
  }
}

@media (min-width: 1200px) {
  :root { 
    --font-size: 112.5%;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size: 87.5%;
  }
}

@media (max-width: 480px) {
  :root {
    --font-size: 75%;
  }
}

:root, [theme='default'] {
  --html-bg: var(--dark);
  --html-bg-accent: var(--dark-accent);

  --main-background: var(--light);
  --main-color: var(--dark-accent);
  --link-color: var(--link);
  --link-hover-color: var(--link-accent);
}

[theme='dark'] {
  --html-bg: var(--dark-accent);
  --html-bg-accent: var(--dark);

  --main-background: var(--dark);
  --main-color: var(--light);
  --link-color: var(--primary);
  --link-hover-color: var(--primary-accent);
}
